@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    background-color: #b0f7fe;
    color: #073C67;
    
    height: 100vh;
}

body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: 'Lato', sans-serif;
}