.camera {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw
}


.camera-buttons {
    display: flex;
    justify-content: space-around;
    width: 50vw;
    max-width: 600px;
}

.camera-buttons button {
    width: 100%;
}